Source: lfmerge-fdo
Section: Libraries
Priority: extra
Maintainer: Eberhard Beilharz <eb1@sil.org>
Build-Depends:
 cdbs, debhelper (>= 7.0.50~), autotools-dev,
 pkg-config,
 libtool, automake, autoconf,
 desktop-file-utils,
 gawk, unzip, tofrodos, libpython2.7,
 libgtkmm-2.4-dev, uuid-dev,
 xutils-dev,
 libboost-test-dev,
 geckofx29,
 mono-sil, libgdiplus-sil, gtk-sharp2-sil, mono-basic-sil,
 cli-common-dev,
 libenchant-dev,
 libxklavier-dev,
 docbook2x, gzip,
 wget,
 xsltproc,
 fieldworks-enc-converters
Standards-Version: 3.9.5
Homepage: http://fieldworks.sil.org/

Package: lfmerge-fdo
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends},
 xsltproc,
 udisks | udisks2,
 adduser (>= 3.11),
 mono-sil (>= 3.4.0-10),
 lfmerge-fdo-data | fieldworks-applications
Conflicts:
 libfieldworks-fdo
Replaces:
 libfieldworks-fdo
Breaks:
 libfieldworks-fdo
Description: LanguageForge Send/Receive
 lfmerge is a tool that is used by the LanguageForge server
 to share data with language depot. Since this tool makes assumptions
 about the location and content of files it is probably not very useful
 outside of languageforge development and should probably not be
 installed.
 .
 This required package contains the FieldWorks data objects library.

Package: lfmerge-fdo-data
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Conflicts:
 fieldworks-applications
Breaks:
 fieldworks-applications
Description: LanguageForge Send/Receive
 lfmerge is a tool that is used by the LanguageForge server
 to share data with language depot. Since this tool makes assumptions
 about the location and content of files it is probably not very useful
 outside of languageforge development and should probably not be
 installed.
 .
 This package contains data files that are identical to the ones installed by
 FieldWorks.
