Source: fieldworks
Section: x11
Priority: extra
Maintainer: Neil Mayhew <neil_mayhew@sil.org>
Build-Depends:
 cdbs, debhelper (>= 7.0.50~), autotools-dev,
 pkg-config,
 libtool, automake, autoconf,
 desktop-file-utils,
 gawk, unzip, tofrodos, libpython2.7,
 libgtkmm-2.4-dev, uuid-dev,
 xutils-dev,
 libboost-test-dev,
 mono-sil, libgdiplus-sil, gtk-sharp2-sil, mono-basic-sil,
 cli-common-dev,
 libenchant-dev,
 libxklavier-dev,
 docbook2x, gzip,
 wget,
 xsltproc,
 fieldworks-enc-converters
Standards-Version: 3.9.1
Homepage: http://fieldworks.sil.org/

Package: fieldworks-applications
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends},
 zenity,
 chmsee,
 libhunspell-dev,
 xsltproc,
 udisks | udisks2,
 adduser (>= 3.11),
 gtk-sharp2-sil (>= 2.12.10-2),
 libgdiplus-sil (>= 2.10.8-7),
 mono-sil (>= 3.4.0-10),
 mono-basic-sil (>= 2.10-4),
 fonts-sil-charissil, fonts-sil-doulossil, fonts-sil-galatia, fonts-sil-ezra,
 ttf-mscorefonts-installer,
 ttf-ancient-fonts,
 pso-keys,
 flexbridge (>> 2.2.99),
 fieldworks-enc-converters (>= 4.0.4)
Conflicts:
 ttf-thai-tlwg (<= 1:0.4.13-4)
Suggests:
 fieldworks
Description: A suite of programs to manage language and cultural data - applications
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 This required package contains the applications.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks
Architecture: all
Depends:
 ${misc:Depends},
 fieldworks-applications (>= ${binary:Version})
Description: A suite of programs to manage language and cultural data
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 This is a metapackage that installs both the required and the optional
 parts of FieldWorks.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-es
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Spanish.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-fa
Architecture: all
Depends: ${misc:Depends}, fonts-farsiweb, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Persian.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-fr
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into French.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-hi
Architecture: all
Depends: ${misc:Depends}, fonts-indic | ttf-devanagari-fonts, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Hindi.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-hu
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Hungarian.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-id
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Indonesian.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-ko
Architecture: all
Depends: ${misc:Depends}, fonts-nanum, fonts-unfonts-core, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Korean.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-ms
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Malay (macrolanguage).
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-pt
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Portuguese.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-ro
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Romanian.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-ru
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Russian.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-te
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Telugu.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-tr
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Turkish.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-vi
Architecture: all
Depends: ${misc:Depends}, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Vietnamese.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/

Package: fieldworks-l10n-zh-cn
Architecture: all
Depends: ${misc:Depends}, ttf-wqy-zenhei, fonts-arphic-uming, fieldworks-applications (= ${binary:Version})
Description: FieldWorks user interface localization into Chinese.
 FieldWorks is a suite of software tools to help language development teams
 manage language and cultural data, with support for complex scripts.
 .
 For further information, please visit http://fieldworks.sil.org/
