#!/bin/sh -e

# Configure script for fieldworks

. /usr/share/debconf/confmodule

db_beginblock
db_get fieldworks/users/group-list
if [ -z "$RET" ]
then
	# Populate fieldworks/users/group-list with the names of all regular users
	UID_MIN=$(sed -n '/^UID_MIN[ \t][ \t]*/s///p' /etc/login.defs)
	UID_MAX=$(sed -n '/^UID_MAX[ \t][ \t]*/s///p' /etc/login.defs)
	ALLUSERS=$(getent passwd | awk -F: "\$3 >= $UID_MIN && \$3 < $UID_MAX {print \$1}" | sort)
	db_set fieldworks/users/group-list $ALLUSERS
fi
db_input high fieldworks/users/group-list || true
db_input high fieldworks/users/group-activate || true
db_endblock

db_go
