#!/bin/bash

# Tell environ that we're packaging
export RUNMODE=PACKAGING

case $1 in
build*)	cd fw; source environ;       cd $OLDPWD;;
*)    	cd fw; source environ-other; cd $OLDPWD;;
esac

echo make -f debian/rules.mk "$@"
make -f debian/rules.mk "$@"
